.project-investment-panel-container {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.transfer-information {
    padding-bottom: 10px;
}

@media(max-width:950px) {
    .project-investment-panel-container {
        margin-top: 0px;
        width: 49%;
    }
}

@media(max-width:600px) {
    .project-investment-panel-container {
        margin-top: 20px;
        width: 100%;
    }
}